# Data Cleasing

In [1]:
# imports
import pandas as pd
import numpy as np

RANDOM_SEED=42

In [2]:
df = pd.read_csv('./data/austin_car_crash.csv')
display(df.head())

/var/folders/y0/rbdj7f755h1cpddq270cg3800000gn/T/ipykernel_96926/2666506941.py:1: DtypeWarning: Columns (6,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/austin_car_crash.csv')

,ID,Crash ID,crash_fatal_fl,case_id,Primary address,Secondary address,rpt_block_num,rpt_street_name,rpt_street_sfx,crash_speed_limit,...,micromobility_serious_injury_count,micromobility_death_count,Crash timestamp (US/Central),Crash timestamp,Is deleted,Is temporary record,Law enforcement fatality count,Reported street prefix,Estimated Maximum Comprehensive Cost,Estimated Total Comprehensive Cost
0,727,13650732.0,False,140080135,8000 NOT REPORTED HWY,ROYAL PALMS DR,8000,NOT REPORTED,HWY,-1.0,...,0,0,01/08/2014 02:34:00 AM,01/08/2014 08:34:00 AM,False,False,0,NaN,20000,20000
1,849,13653672.0,False,140101374,NOT REPORTED,AIRPORT BLVD BLVD,NaN,NOT REPORTED,NaN,-1.0,...,0,0,01/10/2014 05:34:00 PM,01/10/2014 11:34:00 PM,False,False,0,NaN,250000,290000
2,1417,13668262.0,False,140141596,ANTHONY ST,HOLLY ST,NaN,ANTHONY,ST,30.0,...,0,0,01/14/2014 07:25:00 PM,01/15/2014 01:25:00 AM,False,False,0,NaN,20000,40000
3,1295,13665836.0,False,140080823,2800 N LAMAR BLVD,SAN GABRIEL ST,2800,LAMAR,BLVD,35.0,...,0,0,01/08/2014 01:35:00 PM,01/08/2014 07:35:00 PM,False,False,0,NaN,200000,820000
4,1662,13671385.0,False,140190466,1800 LAVACA ST,W 18TH ST,1800,LAVACA,ST,30.0,...,0,0,01/19/2014 05:31:00 AM,01/19/2014 11:31:00 AM,False,False,0,NaN,20000,20000

# Drop rows

In [3]:
# remove any rows that have 'Is temporary record` == True
print(df['Is temporary record'].value_counts())
print(len(df[df['Is temporary record'] == True]))
df = df[df['Is temporary record'] != True]
print(len(df[df['Is temporary record'] == True]))

Is temporary record
False    216082
True          6
Name: count, dtype: int64
6
0

In [4]:
# remove any rows that have 'Is deleted' == True
print(df['Is deleted'].value_counts())
print(len(df[df['Is deleted'] == True]))
df = df[df['Is deleted'] != True]
print(len(df[df['Is deleted'] == True]))

Is deleted
False    216082
Name: count, dtype: int64
0
0

# Drop columns

In [5]:
print(df.columns)

Index(['ID', 'Crash ID', 'crash_fatal_fl', 'case_id', 'Primary address',
       'Secondary address', 'rpt_block_num', 'rpt_street_name',
       'rpt_street_sfx', 'crash_speed_limit', 'road_constr_zone_fl',
       'latitude', 'longitude', 'crash_sev_id', 'sus_serious_injry_cnt',
       'nonincap_injry_cnt', 'poss_injry_cnt', 'non_injry_cnt',
       'unkn_injry_cnt', 'tot_injry_cnt', 'death_cnt', 'units_involved',
       'point', 'motor_vehicle_death_count',
       'motor_vehicle_serious_injury_count', 'bicycle_death_count',
       'bicycle_serious_injury_count', 'pedestrian_death_count',
       'pedestrian_serious_injury_count', 'motorcycle_death_count',
       'motorcycle_serious_injury_count', 'other_death_count',
       'other_serious_injury_count', 'onsys_fl', 'private_dr_fl',
       'micromobility_serious_injury_count', 'micromobility_death_count',
       'Crash timestamp (US/Central)', 'Crash timestamp', 'Is deleted',
       'Is temporary record', 'Law enforcement fatality count',
       'Reported street prefix', 'Estimated Maximum Comprehensive Cost',
       'Estimated Total Comprehensive Cost'],
      dtype='object')

In [6]:
# Here I am removing columns that are not useful for the model
# IDs are not useful
# rpt columns are a repetition of Primary address
# No need for point as it was generated from the lat and long

to_drop = [ 'ID', 'Crash ID', 'case_id', 'rpt_block_num', 'rpt_street_name', 'rpt_street_sfx',
    'point', 'Is deleted', 'Is temporary record', 'Reported street prefix']
df.drop(to_drop, axis=1, inplace=True)

In [7]:
display(df.head())

,crash_fatal_fl,Primary address,Secondary address,crash_speed_limit,road_constr_zone_fl,latitude,longitude,crash_sev_id,sus_serious_injry_cnt,nonincap_injry_cnt,...,other_serious_injury_count,onsys_fl,private_dr_fl,micromobility_serious_injury_count,micromobility_death_count,Crash timestamp (US/Central),Crash timestamp,Law enforcement fatality count,Estimated Maximum Comprehensive Cost,Estimated Total Comprehensive Cost
0,False,8000 NOT REPORTED HWY,ROYAL PALMS DR,-1.0,False,NaN,NaN,5,0,0,...,0,True,False,0,0,01/08/2014 02:34:00 AM,01/08/2014 08:34:00 AM,0,20000,20000
1,False,NOT REPORTED,AIRPORT BLVD BLVD,-1.0,False,NaN,NaN,2,0,1,...,0,True,False,0,0,01/10/2014 05:34:00 PM,01/10/2014 11:34:00 PM,0,250000,290000
2,False,ANTHONY ST,HOLLY ST,30.0,False,NaN,NaN,5,0,0,...,0,False,False,0,0,01/14/2014 07:25:00 PM,01/15/2014 01:25:00 AM,0,20000,40000
3,False,2800 N LAMAR BLVD,SAN GABRIEL ST,35.0,False,30.244344,-97.781309,3,0,0,...,0,True,False,0,0,01/08/2014 01:35:00 PM,01/08/2014 07:35:00 PM,0,200000,820000
4,False,1800 LAVACA ST,W 18TH ST,30.0,False,30.280295,-97.740912,0,0,0,...,0,False,False,0,0,01/19/2014 05:31:00 AM,01/19/2014 11:31:00 AM,0,20000,20000

# Calculations

### Private or public roads

In [8]:
# Combine onsys_fl and private_dr_fl into one column

print(df['onsys_fl'].value_counts())

onsys_fl
False    110768
True     105314
Name: count, dtype: int64

In [9]:
print(df['private_dr_fl'].value_counts())

private_dr_fl
False    216082
Name: count, dtype: int64

There are no private accidents recorded.

In [10]:
df.drop(['private_dr_fl', 'onsys_fl'], axis=1, inplace=True)

### Dates

In [11]:
# count nan values for dates
print(df['Crash timestamp'].isna().sum())
print(df['Crash timestamp (US/Central)'].isna().sum())

0
0

In [12]:
# Create a new column for better date and time handling
df.drop('Crash timestamp', axis=1, inplace=True)
df['Crash timestamp (US/Central)'] = pd.to_datetime(df['Crash timestamp (US/Central)'])

In [13]:
print(df['Crash timestamp (US/Central)'].isna().sum())

0

In [14]:
display(df['Crash timestamp (US/Central)'].head())

0   2014-01-08 02:34:00
1   2014-01-10 17:34:00
2   2014-01-14 19:25:00
3   2014-01-08 13:35:00
4   2014-01-19 05:31:00
Name: Crash timestamp (US/Central), dtype: datetime64[ns]

# Renaming columns

In [15]:
print(df.columns)

Index(['crash_fatal_fl', 'Primary address', 'Secondary address',
       'crash_speed_limit', 'road_constr_zone_fl', 'latitude', 'longitude',
       'crash_sev_id', 'sus_serious_injry_cnt', 'nonincap_injry_cnt',
       'poss_injry_cnt', 'non_injry_cnt', 'unkn_injry_cnt', 'tot_injry_cnt',
       'death_cnt', 'units_involved', 'motor_vehicle_death_count',
       'motor_vehicle_serious_injury_count', 'bicycle_death_count',
       'bicycle_serious_injury_count', 'pedestrian_death_count',
       'pedestrian_serious_injury_count', 'motorcycle_death_count',
       'motorcycle_serious_injury_count', 'other_death_count',
       'other_serious_injury_count', 'micromobility_serious_injury_count',
       'micromobility_death_count', 'Crash timestamp (US/Central)',
       'Law enforcement fatality count',
       'Estimated Maximum Comprehensive Cost',
       'Estimated Total Comprehensive Cost'],
      dtype='object')

In [16]:
column_names = df.columns
new_column_names = {}
for column in column_names:
    new_column_names[column] = column.lower().replace(' ', '_')

print(new_column_names)

df.rename(columns=new_column_names, inplace=True)

{'crash_fatal_fl': 'crash_fatal_fl', 'Primary address': 'primary_address', 'Secondary address': 'secondary_address', 'crash_speed_limit': 'crash_speed_limit', 'road_constr_zone_fl': 'road_constr_zone_fl', 'latitude': 'latitude', 'longitude': 'longitude', 'crash_sev_id': 'crash_sev_id', 'sus_serious_injry_cnt': 'sus_serious_injry_cnt', 'nonincap_injry_cnt': 'nonincap_injry_cnt', 'poss_injry_cnt': 'poss_injry_cnt', 'non_injry_cnt': 'non_injry_cnt', 'unkn_injry_cnt': 'unkn_injry_cnt', 'tot_injry_cnt': 'tot_injry_cnt', 'death_cnt': 'death_cnt', 'units_involved': 'units_involved', 'motor_vehicle_death_count': 'motor_vehicle_death_count', 'motor_vehicle_serious_injury_count': 'motor_vehicle_serious_injury_count', 'bicycle_death_count': 'bicycle_death_count', 'bicycle_serious_injury_count': 'bicycle_serious_injury_count', 'pedestrian_death_count': 'pedestrian_death_count', 'pedestrian_serious_injury_count': 'pedestrian_serious_injury_count', 'motorcycle_death_count': 'motorcycle_death_count', 'motorcycle_serious_injury_count': 'motorcycle_serious_injury_count', 'other_death_count': 'other_death_count', 'other_serious_injury_count': 'other_serious_injury_count', 'micromobility_serious_injury_count': 'micromobility_serious_injury_count', 'micromobility_death_count': 'micromobility_death_count', 'Crash timestamp (US/Central)': 'crash_timestamp_(us/central)', 'Law enforcement fatality count': 'law_enforcement_fatality_count', 'Estimated Maximum Comprehensive Cost': 'estimated_maximum_comprehensive_cost', 'Estimated Total Comprehensive Cost': 'estimated_total_comprehensive_cost'}

In [17]:
display(df.head())

,crash_fatal_fl,primary_address,secondary_address,crash_speed_limit,road_constr_zone_fl,latitude,longitude,crash_sev_id,sus_serious_injry_cnt,nonincap_injry_cnt,...,motorcycle_death_count,motorcycle_serious_injury_count,other_death_count,other_serious_injury_count,micromobility_serious_injury_count,micromobility_death_count,crash_timestamp_(us/central),law_enforcement_fatality_count,estimated_maximum_comprehensive_cost,estimated_total_comprehensive_cost
0,False,8000 NOT REPORTED HWY,ROYAL PALMS DR,-1.0,False,NaN,NaN,5,0,0,...,0,0,0,0,0,0,2014-01-08 02:34:00,0,20000,20000
1,False,NOT REPORTED,AIRPORT BLVD BLVD,-1.0,False,NaN,NaN,2,0,1,...,0,0,0,0,0,0,2014-01-10 17:34:00,0,250000,290000
2,False,ANTHONY ST,HOLLY ST,30.0,False,NaN,NaN,5,0,0,...,0,0,0,0,0,0,2014-01-14 19:25:00,0,20000,40000
3,False,2800 N LAMAR BLVD,SAN GABRIEL ST,35.0,False,30.244344,-97.781309,3,0,0,...,0,0,0,0,0,0,2014-01-08 13:35:00,0,200000,820000
4,False,1800 LAVACA ST,W 18TH ST,30.0,False,30.280295,-97.740912,0,0,0,...,0,0,0,0,0,0,2014-01-19 05:31:00,0,20000,20000

In [18]:
print(df.columns)

Index(['crash_fatal_fl', 'primary_address', 'secondary_address',
       'crash_speed_limit', 'road_constr_zone_fl', 'latitude', 'longitude',
       'crash_sev_id', 'sus_serious_injry_cnt', 'nonincap_injry_cnt',
       'poss_injry_cnt', 'non_injry_cnt', 'unkn_injry_cnt', 'tot_injry_cnt',
       'death_cnt', 'units_involved', 'motor_vehicle_death_count',
       'motor_vehicle_serious_injury_count', 'bicycle_death_count',
       'bicycle_serious_injury_count', 'pedestrian_death_count',
       'pedestrian_serious_injury_count', 'motorcycle_death_count',
       'motorcycle_serious_injury_count', 'other_death_count',
       'other_serious_injury_count', 'micromobility_serious_injury_count',
       'micromobility_death_count', 'crash_timestamp_(us/central)',
       'law_enforcement_fatality_count',
       'estimated_maximum_comprehensive_cost',
       'estimated_total_comprehensive_cost'],
      dtype='object')

In [19]:
renames = {
    'crash_fatal_fl': 'fatal_crash',
    'crash_speed_limit': 'speed_limit',
    'road_constr_zone_fl': 'construction_zone',
    'crash_sev_id': 'crash_severity',
    'crash_timestamp_(us/central)': 'timestamp_us_central',
}

In [20]:
df.rename(columns=renames, inplace=True)
display(df.head())

,fatal_crash,primary_address,secondary_address,speed_limit,construction_zone,latitude,longitude,crash_severity,sus_serious_injry_cnt,nonincap_injry_cnt,...,motorcycle_death_count,motorcycle_serious_injury_count,other_death_count,other_serious_injury_count,micromobility_serious_injury_count,micromobility_death_count,timestamp_us_central,law_enforcement_fatality_count,estimated_maximum_comprehensive_cost,estimated_total_comprehensive_cost
0,False,8000 NOT REPORTED HWY,ROYAL PALMS DR,-1.0,False,NaN,NaN,5,0,0,...,0,0,0,0,0,0,2014-01-08 02:34:00,0,20000,20000
1,False,NOT REPORTED,AIRPORT BLVD BLVD,-1.0,False,NaN,NaN,2,0,1,...,0,0,0,0,0,0,2014-01-10 17:34:00,0,250000,290000
2,False,ANTHONY ST,HOLLY ST,30.0,False,NaN,NaN,5,0,0,...,0,0,0,0,0,0,2014-01-14 19:25:00,0,20000,40000
3,False,2800 N LAMAR BLVD,SAN GABRIEL ST,35.0,False,30.244344,-97.781309,3,0,0,...,0,0,0,0,0,0,2014-01-08 13:35:00,0,200000,820000
4,False,1800 LAVACA ST,W 18TH ST,30.0,False,30.280295,-97.740912,0,0,0,...,0,0,0,0,0,0,2014-01-19 05:31:00,0,20000,20000

# Value corrections

In [21]:
df['speed_limit'].value_counts()

speed_limit
-1.0     38441
 35.0    33143
 45.0    28105
 55.0    20365
 30.0    19001
 65.0    16459
 40.0    14274
 50.0    11613
 0.0     11335
 60.0    10466
 70.0     6899
 25.0     3279
 75.0     1127
 15.0      524
 20.0      456
 10.0      236
 80.0      223
 5.0        96
 34.0       11
 85.0        8
 36.0        4
 6.0         4
 24.0        2
 58.0        1
 66.0        1
 39.0        1
 79.0        1
 51.0        1
 53.0        1
 42.0        1
 32.0        1
 7.0         1
 64.0        1
 56.0        1
Name: count, dtype: int64

In [22]:
df['speed_limit'] = df['speed_limit'].replace(-1, np.nan)
df['speed_limit'] = df['speed_limit'].replace(0, np.nan)

In [23]:
df = df.dropna(subset=['speed_limit'])

In [24]:
print(df['speed_limit'].max())

85.0

In [25]:
print(df['speed_limit'].mean())

46.01846596033817

In [26]:
# df['speed_limit'] = (np.ceil(df['speed_limit'] / 5) * 5).astype(int)
df['speed_limit'] = df['speed_limit'] // 5 * 5

In [27]:
df['speed_limit'].value_counts()

speed_limit
35.0    33148
45.0    28105
55.0    20367
30.0    19013
65.0    16460
40.0    14275
50.0    11615
60.0    10467
70.0     6899
25.0     3279
75.0     1128
15.0      524
20.0      458
10.0      236
80.0      223
5.0       101
85.0        8
Name: count, dtype: int64

In [28]:
print(df['crash_severity'].value_counts())

crash_severity
5    78314
3    35858
2    34256
0    11761
1     5077
4     1040
Name: count, dtype: int64

In [29]:
# Original: (0=UNKNOWN, 1=INCAPACITATING INJURY, 2=NON-INCAPACITATING INJURY, 3=POSSIBLE INJURY, 4=KILLED, 5=NOT INJURED)
# We want to change it to (0=NOT INJURED, 1=UNKNOWN, 2=INCAPACITATING INJURY, 3=NON-INCAPACITATING INJURY, 4=POSSIBLE INJURY, 5=KILLED)
df['crash_severity'] = df['crash_severity'] + 1
df['crash_severity'] = df['crash_severity'].replace(6, 0)
print(df['crash_severity'].value_counts())

crash_severity
0    78314
4    35858
3    34256
1    11761
2     5077
5     1040
Name: count, dtype: int64

In [30]:
print(df['construction_zone'].value_counts())

construction_zone
False    157608
True       8698
Name: count, dtype: int64

In [31]:
print(df['units_involved'].value_counts())

units_involved
Passenger car                                                                                   57788
Large passenger vehicle & Passenger car                                                         56374
Large passenger vehicle                                                                         25804
Motor vehicle – other & Passenger car                                                            5275
Large passenger vehicle & Motor vehicle – other                                                  2600
                                                                                                ...
Bicycle & Motor vehicle – other & Other/Unknown                                                     1
Bicycle & Large passenger vehicle & Pedestrian                                                      1
Large passenger vehicle & Motor vehicle – other & Other/Unknown & Passenger car & Pedestrian        1
Bicycle & Large passenger vehicle & Passenger car & Pedestrian                                      1
Bicycle & Motorcycle & Passenger car                                                                1
Name: count, Length: 75, dtype: int64

# Save result

In [32]:
df_cleaned = df.dropna()
df_cleaned.to_csv('./data/austin_car_crash_cleaned.csv', index=False)

In [33]:
df_cleaned.shape

(163596, 32)