# Data Cleansing

In [1]:
# imports
import pandas as pd
import numpy as np

RANDOM_SEED=42

In [2]:
df = pd.read_csv('./data/austin_car_crash.csv')
display(df.head())

/var/folders/y0/rbdj7f755h1cpddq270cg3800000gn/T/ipykernel_59603/2666506941.py:1: DtypeWarning: Columns (6,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/austin_car_crash.csv')

,ID,Crash ID,crash_fatal_fl,case_id,Primary address,Secondary address,rpt_block_num,rpt_street_name,rpt_street_sfx,crash_speed_limit,...,micromobility_serious_injury_count,micromobility_death_count,Crash timestamp (US/Central),Crash timestamp,Is deleted,Is temporary record,Law enforcement fatality count,Reported street prefix,Estimated Maximum Comprehensive Cost,Estimated Total Comprehensive Cost
0,727,13650732.0,False,140080135,8000 NOT REPORTED HWY,ROYAL PALMS DR,8000,NOT REPORTED,HWY,-1.0,...,0,0,01/08/2014 02:34:00 AM,01/08/2014 08:34:00 AM,False,False,0,NaN,20000,20000
1,849,13653672.0,False,140101374,NOT REPORTED,AIRPORT BLVD BLVD,NaN,NOT REPORTED,NaN,-1.0,...,0,0,01/10/2014 05:34:00 PM,01/10/2014 11:34:00 PM,False,False,0,NaN,250000,290000
2,1417,13668262.0,False,140141596,ANTHONY ST,HOLLY ST,NaN,ANTHONY,ST,30.0,...,0,0,01/14/2014 07:25:00 PM,01/15/2014 01:25:00 AM,False,False,0,NaN,20000,40000
3,1295,13665836.0,False,140080823,2800 N LAMAR BLVD,SAN GABRIEL ST,2800,LAMAR,BLVD,35.0,...,0,0,01/08/2014 01:35:00 PM,01/08/2014 07:35:00 PM,False,False,0,NaN,200000,820000
4,1662,13671385.0,False,140190466,1800 LAVACA ST,W 18TH ST,1800,LAVACA,ST,30.0,...,0,0,01/19/2014 05:31:00 AM,01/19/2014 11:31:00 AM,False,False,0,NaN,20000,20000

# Drop rows

In [3]:
# remove any rows that have 'Is temporary record` == True
print(df['Is temporary record'].value_counts())
print(len(df[df['Is temporary record'] == True]))
df = df[df['Is temporary record'] != True]
print(len(df[df['Is temporary record'] == True]))

Is temporary record
False    216082
True          6
Name: count, dtype: int64
6
0

In [4]:
# remove any rows that have 'Is deleted' == True
print(df['Is deleted'].value_counts())
print(len(df[df['Is deleted'] == True]))
df = df[df['Is deleted'] != True]
print(len(df[df['Is deleted'] == True]))

Is deleted
False    216082
Name: count, dtype: int64
0
0

# Drop columns

In [5]:
print(df.columns)

Index(['ID', 'Crash ID', 'crash_fatal_fl', 'case_id', 'Primary address',
       'Secondary address', 'rpt_block_num', 'rpt_street_name',
       'rpt_street_sfx', 'crash_speed_limit', 'road_constr_zone_fl',
       'latitude', 'longitude', 'crash_sev_id', 'sus_serious_injry_cnt',
       'nonincap_injry_cnt', 'poss_injry_cnt', 'non_injry_cnt',
       'unkn_injry_cnt', 'tot_injry_cnt', 'death_cnt', 'units_involved',
       'point', 'motor_vehicle_death_count',
       'motor_vehicle_serious_injury_count', 'bicycle_death_count',
       'bicycle_serious_injury_count', 'pedestrian_death_count',
       'pedestrian_serious_injury_count', 'motorcycle_death_count',
       'motorcycle_serious_injury_count', 'other_death_count',
       'other_serious_injury_count', 'onsys_fl', 'private_dr_fl',
       'micromobility_serious_injury_count', 'micromobility_death_count',
       'Crash timestamp (US/Central)', 'Crash timestamp', 'Is deleted',
       'Is temporary record', 'Law enforcement fatality count',
       'Reported street prefix', 'Estimated Maximum Comprehensive Cost',
       'Estimated Total Comprehensive Cost'],
      dtype='object')

In [6]:
# Here I am removing columns that are not useful for the model
# IDs are not useful
# rpt columns are a repetition of Primary address
# No need for point as it was generated from the lat and long

to_drop = [ 'ID', 'Crash ID', 'case_id', 'rpt_block_num', 'rpt_street_name', 'rpt_street_sfx',
    'point', 'Is deleted', 'Is temporary record', 'Reported street prefix']
df.drop(to_drop, axis=1, inplace=True)

In [7]:
display(df.head())

,crash_fatal_fl,Primary address,Secondary address,crash_speed_limit,road_constr_zone_fl,latitude,longitude,crash_sev_id,sus_serious_injry_cnt,nonincap_injry_cnt,...,other_serious_injury_count,onsys_fl,private_dr_fl,micromobility_serious_injury_count,micromobility_death_count,Crash timestamp (US/Central),Crash timestamp,Law enforcement fatality count,Estimated Maximum Comprehensive Cost,Estimated Total Comprehensive Cost
0,False,8000 NOT REPORTED HWY,ROYAL PALMS DR,-1.0,False,NaN,NaN,5,0,0,...,0,True,False,0,0,01/08/2014 02:34:00 AM,01/08/2014 08:34:00 AM,0,20000,20000
1,False,NOT REPORTED,AIRPORT BLVD BLVD,-1.0,False,NaN,NaN,2,0,1,...,0,True,False,0,0,01/10/2014 05:34:00 PM,01/10/2014 11:34:00 PM,0,250000,290000
2,False,ANTHONY ST,HOLLY ST,30.0,False,NaN,NaN,5,0,0,...,0,False,False,0,0,01/14/2014 07:25:00 PM,01/15/2014 01:25:00 AM,0,20000,40000
3,False,2800 N LAMAR BLVD,SAN GABRIEL ST,35.0,False,30.244344,-97.781309,3,0,0,...,0,True,False,0,0,01/08/2014 01:35:00 PM,01/08/2014 07:35:00 PM,0,200000,820000
4,False,1800 LAVACA ST,W 18TH ST,30.0,False,30.280295,-97.740912,0,0,0,...,0,False,False,0,0,01/19/2014 05:31:00 AM,01/19/2014 11:31:00 AM,0,20000,20000

# Calculations

### Private or public roads

In [8]:
# Combine onsys_fl and private_dr_fl into one column

print(df['onsys_fl'].value_counts())

onsys_fl
False    110768
True     105314
Name: count, dtype: int64

In [9]:
print(df['private_dr_fl'].value_counts())

private_dr_fl
False    216082
Name: count, dtype: int64

There are no private accidents recorded.

In [10]:
df.drop(['private_dr_fl', 'onsys_fl'], axis=1, inplace=True)

### Dates

In [11]:
# count nan values for dates
print(df['Crash timestamp'].isna().sum())
print(df['Crash timestamp (US/Central)'].isna().sum())

0
0

In [12]:
# Create a new column for better date and time handling
df.drop('Crash timestamp', axis=1, inplace=True)
df['Crash timestamp (US/Central)'] = pd.to_datetime(df['Crash timestamp (US/Central)'])

In [13]:
print(df['Crash timestamp (US/Central)'].isna().sum())

0

In [14]:
display(df['Crash timestamp (US/Central)'].head())

0   2014-01-08 02:34:00
1   2014-01-10 17:34:00
2   2014-01-14 19:25:00
3   2014-01-08 13:35:00
4   2014-01-19 05:31:00
Name: Crash timestamp (US/Central), dtype: datetime64[ns]

# Renaming columns

In [15]:
print(df.columns)

Index(['crash_fatal_fl', 'Primary address', 'Secondary address',
       'crash_speed_limit', 'road_constr_zone_fl', 'latitude', 'longitude',
       'crash_sev_id', 'sus_serious_injry_cnt', 'nonincap_injry_cnt',
       'poss_injry_cnt', 'non_injry_cnt', 'unkn_injry_cnt', 'tot_injry_cnt',
       'death_cnt', 'units_involved', 'motor_vehicle_death_count',
       'motor_vehicle_serious_injury_count', 'bicycle_death_count',
       'bicycle_serious_injury_count', 'pedestrian_death_count',
       'pedestrian_serious_injury_count', 'motorcycle_death_count',
       'motorcycle_serious_injury_count', 'other_death_count',
       'other_serious_injury_count', 'micromobility_serious_injury_count',
       'micromobility_death_count', 'Crash timestamp (US/Central)',
       'Law enforcement fatality count',
       'Estimated Maximum Comprehensive Cost',
       'Estimated Total Comprehensive Cost'],
      dtype='object')

In [16]:
column_names = df.columns
new_column_names = {}
for column in column_names:
    new_column_names[column] = column.lower().replace(' ', '_')

print(new_column_names)

df.rename(columns=new_column_names, inplace=True)

{'crash_fatal_fl': 'crash_fatal_fl', 'Primary address': 'primary_address', 'Secondary address': 'secondary_address', 'crash_speed_limit': 'crash_speed_limit', 'road_constr_zone_fl': 'road_constr_zone_fl', 'latitude': 'latitude', 'longitude': 'longitude', 'crash_sev_id': 'crash_sev_id', 'sus_serious_injry_cnt': 'sus_serious_injry_cnt', 'nonincap_injry_cnt': 'nonincap_injry_cnt', 'poss_injry_cnt': 'poss_injry_cnt', 'non_injry_cnt': 'non_injry_cnt', 'unkn_injry_cnt': 'unkn_injry_cnt', 'tot_injry_cnt': 'tot_injry_cnt', 'death_cnt': 'death_cnt', 'units_involved': 'units_involved', 'motor_vehicle_death_count': 'motor_vehicle_death_count', 'motor_vehicle_serious_injury_count': 'motor_vehicle_serious_injury_count', 'bicycle_death_count': 'bicycle_death_count', 'bicycle_serious_injury_count': 'bicycle_serious_injury_count', 'pedestrian_death_count': 'pedestrian_death_count', 'pedestrian_serious_injury_count': 'pedestrian_serious_injury_count', 'motorcycle_death_count': 'motorcycle_death_count', 'motorcycle_serious_injury_count': 'motorcycle_serious_injury_count', 'other_death_count': 'other_death_count', 'other_serious_injury_count': 'other_serious_injury_count', 'micromobility_serious_injury_count': 'micromobility_serious_injury_count', 'micromobility_death_count': 'micromobility_death_count', 'Crash timestamp (US/Central)': 'crash_timestamp_(us/central)', 'Law enforcement fatality count': 'law_enforcement_fatality_count', 'Estimated Maximum Comprehensive Cost': 'estimated_maximum_comprehensive_cost', 'Estimated Total Comprehensive Cost': 'estimated_total_comprehensive_cost'}

In [17]:
display(df.head())

,crash_fatal_fl,primary_address,secondary_address,crash_speed_limit,road_constr_zone_fl,latitude,longitude,crash_sev_id,sus_serious_injry_cnt,nonincap_injry_cnt,...,motorcycle_death_count,motorcycle_serious_injury_count,other_death_count,other_serious_injury_count,micromobility_serious_injury_count,micromobility_death_count,crash_timestamp_(us/central),law_enforcement_fatality_count,estimated_maximum_comprehensive_cost,estimated_total_comprehensive_cost
0,False,8000 NOT REPORTED HWY,ROYAL PALMS DR,-1.0,False,NaN,NaN,5,0,0,...,0,0,0,0,0,0,2014-01-08 02:34:00,0,20000,20000
1,False,NOT REPORTED,AIRPORT BLVD BLVD,-1.0,False,NaN,NaN,2,0,1,...,0,0,0,0,0,0,2014-01-10 17:34:00,0,250000,290000
2,False,ANTHONY ST,HOLLY ST,30.0,False,NaN,NaN,5,0,0,...,0,0,0,0,0,0,2014-01-14 19:25:00,0,20000,40000
3,False,2800 N LAMAR BLVD,SAN GABRIEL ST,35.0,False,30.244344,-97.781309,3,0,0,...,0,0,0,0,0,0,2014-01-08 13:35:00,0,200000,820000
4,False,1800 LAVACA ST,W 18TH ST,30.0,False,30.280295,-97.740912,0,0,0,...,0,0,0,0,0,0,2014-01-19 05:31:00,0,20000,20000

In [18]:
print(df.columns)

Index(['crash_fatal_fl', 'primary_address', 'secondary_address',
       'crash_speed_limit', 'road_constr_zone_fl', 'latitude', 'longitude',
       'crash_sev_id', 'sus_serious_injry_cnt', 'nonincap_injry_cnt',
       'poss_injry_cnt', 'non_injry_cnt', 'unkn_injry_cnt', 'tot_injry_cnt',
       'death_cnt', 'units_involved', 'motor_vehicle_death_count',
       'motor_vehicle_serious_injury_count', 'bicycle_death_count',
       'bicycle_serious_injury_count', 'pedestrian_death_count',
       'pedestrian_serious_injury_count', 'motorcycle_death_count',
       'motorcycle_serious_injury_count', 'other_death_count',
       'other_serious_injury_count', 'micromobility_serious_injury_count',
       'micromobility_death_count', 'crash_timestamp_(us/central)',
       'law_enforcement_fatality_count',
       'estimated_maximum_comprehensive_cost',
       'estimated_total_comprehensive_cost'],
      dtype='object')

In [19]:
renames = {
    'crash_fatal_fl': 'fatal_crash',
    'crash_speed_limit': 'speed_limit',
    'road_constr_zone_fl': 'construction_zone',
    'crash_sev_id': 'crash_severity',
    'crash_timestamp_(us/central)': 'timestamp_us_central',
}

In [20]:
df.rename(columns=renames, inplace=True)
display(df.head())

,fatal_crash,primary_address,secondary_address,speed_limit,construction_zone,latitude,longitude,crash_severity,sus_serious_injry_cnt,nonincap_injry_cnt,...,motorcycle_death_count,motorcycle_serious_injury_count,other_death_count,other_serious_injury_count,micromobility_serious_injury_count,micromobility_death_count,timestamp_us_central,law_enforcement_fatality_count,estimated_maximum_comprehensive_cost,estimated_total_comprehensive_cost
0,False,8000 NOT REPORTED HWY,ROYAL PALMS DR,-1.0,False,NaN,NaN,5,0,0,...,0,0,0,0,0,0,2014-01-08 02:34:00,0,20000,20000
1,False,NOT REPORTED,AIRPORT BLVD BLVD,-1.0,False,NaN,NaN,2,0,1,...,0,0,0,0,0,0,2014-01-10 17:34:00,0,250000,290000
2,False,ANTHONY ST,HOLLY ST,30.0,False,NaN,NaN,5,0,0,...,0,0,0,0,0,0,2014-01-14 19:25:00,0,20000,40000
3,False,2800 N LAMAR BLVD,SAN GABRIEL ST,35.0,False,30.244344,-97.781309,3,0,0,...,0,0,0,0,0,0,2014-01-08 13:35:00,0,200000,820000
4,False,1800 LAVACA ST,W 18TH ST,30.0,False,30.280295,-97.740912,0,0,0,...,0,0,0,0,0,0,2014-01-19 05:31:00,0,20000,20000

# Value corrections

In [21]:
df['speed_limit'].value_counts()

speed_limit
-1.0     38441
 35.0    33143
 45.0    28105
 55.0    20365
 30.0    19001
 65.0    16459
 40.0    14274
 50.0    11613
 0.0     11335
 60.0    10466
 70.0     6899
 25.0     3279
 75.0     1127
 15.0      524
 20.0      456
 10.0      236
 80.0      223
 5.0        96
 34.0       11
 85.0        8
 36.0        4
 6.0         4
 24.0        2
 58.0        1
 66.0        1
 39.0        1
 79.0        1
 51.0        1
 53.0        1
 42.0        1
 32.0        1
 7.0         1
 64.0        1
 56.0        1
Name: count, dtype: int64

In [22]:
df['speed_limit'] = df['speed_limit'].replace(-1, np.nan)
df['speed_limit'] = df['speed_limit'].replace(0, np.nan)

In [23]:
df = df.dropna(subset=['speed_limit'])

In [24]:
print(df['speed_limit'].max())

85.0

In [25]:
print(df['speed_limit'].mean())

46.01846596033817

In [26]:
# df['speed_limit'] = (np.ceil(df['speed_limit'] / 5) * 5).astype(int)
df['speed_limit'] = df['speed_limit'] // 5 * 5

In [27]:
df['speed_limit'].value_counts()

speed_limit
35.0    33148
45.0    28105
55.0    20367
30.0    19013
65.0    16460
40.0    14275
50.0    11615
60.0    10467
70.0     6899
25.0     3279
75.0     1128
15.0      524
20.0      458
10.0      236
80.0      223
5.0       101
85.0        8
Name: count, dtype: int64

In [28]:
print(df['crash_severity'].value_counts())

crash_severity
5    78314
3    35858
2    34256
0    11761
1     5077
4     1040
Name: count, dtype: int64

In [29]:
# Original: (0=UNKNOWN, 1=INCAPACITATING INJURY, 2=NON-INCAPACITATING INJURY, 3=POSSIBLE INJURY, 4=KILLED, 5=NOT INJURED)
# We want to change it to (0=NOT INJURED, 1=UNKNOWN,  2=POSSIBLE INJURY, 3=NON-INCAPACITATING INJURY, 4=INCAPACITATING INJURY, 5=KILLED)

severity_mapping = {
    0: 1,  # UNKNOWN â†’ becomes 1 (UNKNOWN)
    1: 4,  # INCAPACITATING INJURY â†’ becomes 4
    2: 3,  # NON-INCAPACITATING INJURY â†’ becomes 3
    3: 2,  # POSSIBLE INJURY â†’ becomes 2
    4: 5,  # KILLED â†’ becomes 5
    5: 0   # NOT INJURED â†’ becomes 0
}

# Apply the mapping
df['crash_severity'] = df['crash_severity'].replace(severity_mapping)

In [30]:
print(df['crash_severity'].value_counts())

crash_severity
0    78314
2    35858
3    34256
1    11761
4     5077
5     1040
Name: count, dtype: int64

In [31]:
severity_map = {
    0: "not_injured",
    1: "unknown",
    2: "possible_injury",
    3: "non_incapacitating_injury",
    4: "incapacitating_injury",
    5: "killed"
}

df["crash_severity"] = df["crash_severity"].map(severity_map)
df = pd.get_dummies(df, columns=["crash_severity"], prefix="severity")

# If we want to convert from True/False to 1/0
# cols_to_convert = [
#     "severity_not_injured",
#     "severity_unknown",
#     "severity_possible_injury",
#     "severity_non_incapacitating_injury",
#     "severity_incapacitating_injury",
#     "severity_killed"
# ]
# df[cols_to_convert] = df[cols_to_convert].astype(int)

display(df.head())

,fatal_crash,primary_address,secondary_address,speed_limit,construction_zone,latitude,longitude,sus_serious_injry_cnt,nonincap_injry_cnt,poss_injry_cnt,...,timestamp_us_central,law_enforcement_fatality_count,estimated_maximum_comprehensive_cost,estimated_total_comprehensive_cost,severity_incapacitating_injury,severity_killed,severity_non_incapacitating_injury,severity_not_injured,severity_possible_injury,severity_unknown
2,False,ANTHONY ST,HOLLY ST,30.0,False,NaN,NaN,0,0,0,...,2014-01-14 19:25:00,0,20000,40000,False,False,False,True,False,False
3,False,2800 N LAMAR BLVD,SAN GABRIEL ST,35.0,False,30.244344,-97.781309,0,0,4,...,2014-01-08 13:35:00,0,200000,820000,False,False,False,False,True,False
4,False,1800 LAVACA ST,W 18TH ST,30.0,False,30.280295,-97.740912,0,0,0,...,2014-01-19 05:31:00,0,20000,20000,False,False,False,False,False,True
5,False,7500 NOT REPORTED,CONVICT HILL RD,65.0,False,30.216696,-97.848713,0,0,0,...,2014-01-08 14:30:00,0,20000,60000,False,False,False,True,False,False
7,False,3400 W SLAUGHTER LN LN,SLAUGHTER LN,45.0,False,30.182598,-97.847707,0,0,1,...,2014-01-22 08:34:00,0,200000,260000,False,False,False,False,True,False

In [32]:
print(df['construction_zone'].value_counts())

construction_zone
False    157608
True       8698
Name: count, dtype: int64

## Units involved

In [33]:
print(df['units_involved'].value_counts())

units_involved
Passenger car                                                                                   57788
Large passenger vehicle & Passenger car                                                         56374
Large passenger vehicle                                                                         25804
Motor vehicle â€“ other & Passenger car                                                            5275
Large passenger vehicle & Motor vehicle â€“ other                                                  2600
                                                                                                ...
Bicycle & Motor vehicle â€“ other & Other/Unknown                                                     1
Bicycle & Large passenger vehicle & Pedestrian                                                      1
Large passenger vehicle & Motor vehicle â€“ other & Other/Unknown & Passenger car & Pedestrian        1
Bicycle & Large passenger vehicle & Passenger car & Pedestrian                                      1
Bicycle & Motorcycle & Passenger car                                                                1
Name: count, Length: 75, dtype: int64

In [34]:
# Dropping small counts of units involved
value_counts = df['units_involved'].value_counts()
infrequent_values = value_counts[value_counts < 1000].index
df= df[~df['units_involved'].isin(infrequent_values)].copy()

In [35]:
# Step 1: Get all unique entries from 'units_involved'
unique_entries = df['units_involved'].dropna().unique()

# Step 2: Split and flatten all individual vehicle types
vehicle_types = set()
for entry in unique_entries:
    types = [v.strip() for v in entry.split('&')]
    vehicle_types.update(types)

# remove spaces and convert to lowercase and remove any special characters
display(vehicle_types)

{'Bicycle',
 'Large passenger vehicle',
 'Motor vehicle â€“ other',
 'Motorcycle',
 'Other/Unknown',
 'Passenger car',
 'Pedestrian'}

In [36]:
# Sort for consistency
vehicle_types = sorted(vehicle_types)

# Create binary indicator columns for each vehicle type
for vehicle in vehicle_types:
    df[vehicle] = df['units_involved'].apply(
        lambda x: int(vehicle in x) if pd.notnull(x) else 0
    )

# Show the updated dataframe with the new binary columns
df[ ['units_involved']+vehicle_types]

,units_involved,Bicycle,Large passenger vehicle,Motor vehicle â€“ other,Motorcycle,Other/Unknown,Passenger car,Pedestrian
2,Passenger car,0,0,0,0,0,1,0
3,Large passenger vehicle & Passenger car,0,1,0,0,0,1,0
5,Passenger car,0,0,0,0,0,1,0
7,Large passenger vehicle & Passenger car,0,1,0,0,0,1,0
9,Large passenger vehicle,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...
216083,Large passenger vehicle & Passenger car,0,1,0,0,0,1,0
216084,Passenger car,0,0,0,0,0,1,0
216085,Large passenger vehicle & Passenger car,0,1,0,0,0,1,0
216086,Passenger car,0,0,0,0,0,1,0
216087,Passenger car,0,0,0,0,0,1,0

In [37]:
display(df.head())

,fatal_crash,primary_address,secondary_address,speed_limit,construction_zone,latitude,longitude,sus_serious_injry_cnt,nonincap_injry_cnt,poss_injry_cnt,...,severity_not_injured,severity_possible_injury,severity_unknown,Bicycle,Large passenger vehicle,Motor vehicle â€“ other,Motorcycle,Other/Unknown,Passenger car,Pedestrian
2,False,ANTHONY ST,HOLLY ST,30.0,False,NaN,NaN,0,0,0,...,True,False,False,0,0,0,0,0,1,0
3,False,2800 N LAMAR BLVD,SAN GABRIEL ST,35.0,False,30.244344,-97.781309,0,0,4,...,False,True,False,0,1,0,0,0,1,0
5,False,7500 NOT REPORTED,CONVICT HILL RD,65.0,False,30.216696,-97.848713,0,0,0,...,True,False,False,0,0,0,0,0,1,0
7,False,3400 W SLAUGHTER LN LN,SLAUGHTER LN,45.0,False,30.182598,-97.847707,0,0,1,...,False,True,False,0,1,0,0,0,1,0
9,False,800 CAPITOL OF TEXAS HWY,W LAS CIMAS PKWY,60.0,False,30.290776,-97.828303,0,0,0,...,True,False,False,0,1,0,0,0,0,0

In [38]:
# rename the vehicle types to be more readable
to_rename = {}
for vehicle in vehicle_types:
    new_name = vehicle.replace('â€“', '').replace(' ', '_').replace('__', '_').replace('/', '_').replace('-', '_').lower()
    to_rename[vehicle] = 'unit_involved_' + new_name
print(to_rename)
df.rename(columns=to_rename, inplace=True)
display(df.head())
# remove the original units_involved column
df.drop('units_involved', axis=1, inplace=True)

{'Bicycle': 'unit_involved_bicycle', 'Large passenger vehicle': 'unit_involved_large_passenger_vehicle', 'Motor vehicle â€“ other': 'unit_involved_motor_vehicle_other', 'Motorcycle': 'unit_involved_motorcycle', 'Other/Unknown': 'unit_involved_other_unknown', 'Passenger car': 'unit_involved_passenger_car', 'Pedestrian': 'unit_involved_pedestrian'}

,fatal_crash,primary_address,secondary_address,speed_limit,construction_zone,latitude,longitude,sus_serious_injry_cnt,nonincap_injry_cnt,poss_injry_cnt,...,severity_not_injured,severity_possible_injury,severity_unknown,unit_involved_bicycle,unit_involved_large_passenger_vehicle,unit_involved_motor_vehicle_other,unit_involved_motorcycle,unit_involved_other_unknown,unit_involved_passenger_car,unit_involved_pedestrian
2,False,ANTHONY ST,HOLLY ST,30.0,False,NaN,NaN,0,0,0,...,True,False,False,0,0,0,0,0,1,0
3,False,2800 N LAMAR BLVD,SAN GABRIEL ST,35.0,False,30.244344,-97.781309,0,0,4,...,False,True,False,0,1,0,0,0,1,0
5,False,7500 NOT REPORTED,CONVICT HILL RD,65.0,False,30.216696,-97.848713,0,0,0,...,True,False,False,0,0,0,0,0,1,0
7,False,3400 W SLAUGHTER LN LN,SLAUGHTER LN,45.0,False,30.182598,-97.847707,0,0,1,...,False,True,False,0,1,0,0,0,1,0
9,False,800 CAPITOL OF TEXAS HWY,W LAS CIMAS PKWY,60.0,False,30.290776,-97.828303,0,0,0,...,True,False,False,0,1,0,0,0,0,0

## Timestamps

In [39]:
from utils.utils import extract_timestamp

# Extract the timestamp features into a new DataFrame
timestamp_features = extract_timestamp(df["timestamp_us_central"])
display(timestamp_features)

# Concatenate the extracted features with the original DataFrame
df = pd.concat([df, timestamp_features], axis=1)
display(df.head())

,hour,day_of_week,month,year,day_of_month,weekend,hour_sin,hour_cos,month_sin,month_cos
2,19,1,1,2014,14,0,-0.965926,2.588190e-01,0.500000,8.660254e-01
3,13,2,1,2014,8,0,-0.258819,-9.659258e-01,0.500000,8.660254e-01
5,14,2,1,2014,8,0,-0.500000,-8.660254e-01,0.500000,8.660254e-01
7,8,2,1,2014,22,0,0.866025,-5.000000e-01,0.500000,8.660254e-01
9,11,3,1,2014,2,0,0.258819,-9.659258e-01,0.500000,8.660254e-01
...,...,...,...,...,...,...,...,...,...,...
216083,6,1,3,2025,4,0,1.000000,6.123234e-17,1.000000,6.123234e-17
216084,2,4,3,2025,7,0,0.500000,8.660254e-01,1.000000,6.123234e-17
216085,16,1,2,2025,25,0,-0.866025,-5.000000e-01,0.866025,5.000000e-01
216086,15,2,2,2025,12,0,-0.707107,-7.071068e-01,0.866025,5.000000e-01
216087,19,4,2,2025,28,0,-0.965926,2.588190e-01,0.866025,5.000000e-01

,fatal_crash,primary_address,secondary_address,speed_limit,construction_zone,latitude,longitude,sus_serious_injry_cnt,nonincap_injry_cnt,poss_injry_cnt,...,hour,day_of_week,month,year,day_of_month,weekend,hour_sin,hour_cos,month_sin,month_cos
2,False,ANTHONY ST,HOLLY ST,30.0,False,NaN,NaN,0,0,0,...,19,1,1,2014,14,0,-0.965926,0.258819,0.5,0.866025
3,False,2800 N LAMAR BLVD,SAN GABRIEL ST,35.0,False,30.244344,-97.781309,0,0,4,...,13,2,1,2014,8,0,-0.258819,-0.965926,0.5,0.866025
5,False,7500 NOT REPORTED,CONVICT HILL RD,65.0,False,30.216696,-97.848713,0,0,0,...,14,2,1,2014,8,0,-0.500000,-0.866025,0.5,0.866025
7,False,3400 W SLAUGHTER LN LN,SLAUGHTER LN,45.0,False,30.182598,-97.847707,0,0,1,...,8,2,1,2014,22,0,0.866025,-0.500000,0.5,0.866025
9,False,800 CAPITOL OF TEXAS HWY,W LAS CIMAS PKWY,60.0,False,30.290776,-97.828303,0,0,0,...,11,3,1,2014,2,0,0.258819,-0.965926,0.5,0.866025

In [40]:
# Create cyclical features BEFORE splitting
df['hour_sin'] = np.sin(2 * np.pi * df['hour'] / 24)
df['hour_cos'] = np.cos(2 * np.pi * df['hour'] / 24)
df['month_sin'] = np.sin(2 * np.pi * df['month'] / 12)
df['month_cos'] = np.cos(2 * np.pi * df['month'] / 12)

# Remove Max Costs

In [41]:
df.drop('estimated_maximum_comprehensive_cost', axis=1, inplace=True)

# Remove NAs

In [42]:
display(df.isnull().sum())

fatal_crash                                 0
primary_address                             0
secondary_address                           1
speed_limit                                 0
construction_zone                           0
latitude                                 2633
longitude                                2634
sus_serious_injry_cnt                       0
nonincap_injry_cnt                          0
poss_injry_cnt                              0
non_injry_cnt                               0
unkn_injry_cnt                              0
tot_injry_cnt                               0
death_cnt                                   0
motor_vehicle_death_count                   0
motor_vehicle_serious_injury_count          0
bicycle_death_count                         0
bicycle_serious_injury_count                0
pedestrian_death_count                      0
pedestrian_serious_injury_count             0
motorcycle_death_count                      0
motorcycle_serious_injury_count             0
other_death_count                           0
other_serious_injury_count                  0
micromobility_serious_injury_count          0
micromobility_death_count                   0
timestamp_us_central                        0
law_enforcement_fatality_count              0
estimated_total_comprehensive_cost          0
severity_incapacitating_injury              0
severity_killed                             0
severity_non_incapacitating_injury          0
severity_not_injured                        0
severity_possible_injury                    0
severity_unknown                            0
unit_involved_bicycle                       0
unit_involved_large_passenger_vehicle       0
unit_involved_motor_vehicle_other           0
unit_involved_motorcycle                    0
unit_involved_other_unknown                 0
unit_involved_passenger_car                 0
unit_involved_pedestrian                    0
hour                                        0
day_of_week                                 0
month                                       0
year                                        0
day_of_month                                0
weekend                                     0
hour_sin                                    0
hour_cos                                    0
month_sin                                   0
month_cos                                   0
dtype: int64

In [43]:
df = df.dropna()
display(df.isnull().sum())

fatal_crash                              0
primary_address                          0
secondary_address                        0
speed_limit                              0
construction_zone                        0
latitude                                 0
longitude                                0
sus_serious_injry_cnt                    0
nonincap_injry_cnt                       0
poss_injry_cnt                           0
non_injry_cnt                            0
unkn_injry_cnt                           0
tot_injry_cnt                            0
death_cnt                                0
motor_vehicle_death_count                0
motor_vehicle_serious_injury_count       0
bicycle_death_count                      0
bicycle_serious_injury_count             0
pedestrian_death_count                   0
pedestrian_serious_injury_count          0
motorcycle_death_count                   0
motorcycle_serious_injury_count          0
other_death_count                        0
other_serious_injury_count               0
micromobility_serious_injury_count       0
micromobility_death_count                0
timestamp_us_central                     0
law_enforcement_fatality_count           0
estimated_total_comprehensive_cost       0
severity_incapacitating_injury           0
severity_killed                          0
severity_non_incapacitating_injury       0
severity_not_injured                     0
severity_possible_injury                 0
severity_unknown                         0
unit_involved_bicycle                    0
unit_involved_large_passenger_vehicle    0
unit_involved_motor_vehicle_other        0
unit_involved_motorcycle                 0
unit_involved_other_unknown              0
unit_involved_passenger_car              0
unit_involved_pedestrian                 0
hour                                     0
day_of_week                              0
month                                    0
year                                     0
day_of_month                             0
weekend                                  0
hour_sin                                 0
hour_cos                                 0
month_sin                                0
month_cos                                0
dtype: int64

# Save result

In [44]:
df.to_csv('./data/austin_car_crash_cleaned.csv', index=False)

In [45]:
df.shape

(159231, 52)